<a href="https://colab.research.google.com/github/Rashilajayasinghe/DomainSpecified_AI_Assistant/blob/main/GPACal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [ ]:
data = pd.read_csv('/content/sample_data/fin_synthetic_samples_cleaned (4).csv')

In [ ]:
data

,Stage,hours_per_week,academic_stress,choosing_new_courses_decision,Mng_academic_tasks,struggle_with_managing,challenges_handling_workload,start_assignments_closer_deadline,Skill_Programming,Skill_Math,...,Grade_CM3606,Grade_CM3604,Grade_CM3602,Grade_CM3603,Grade_CM4605,Grade_CM4604,Grade_CM4601,Grade_CM4606,Grade_CM4603,Predicted_Success_DL
0,Stage 2,5 - 10 hrs,4,Personal interest in the subject;Career or job...,Notes on phone or paper,Sometimes,Balancing multiple courses or projects;Startin...,Sometimes,3.0,3.0,...,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,76.300058
1,Stage 3,5 - 10 hrs,3,Personal interest in the subject,To-do list or planner apps,Sometimes,Balancing multiple courses or projects,Sometimes,4.0,4.0,...,C,C,B,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,76.254988
2,Stage 3,5 - 10 hrs,3,Personal interest in the subject,To-do list or planner apps,Rarely,Balancing multiple courses or projects,Sometimes,4.0,4.0,...,C,C,C,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,93.725325
3,Stage 2,Less than 3hrs,3,Career or job relevance,To-do list or planner apps,Sometimes,Starting tasks too late,Always,4.0,3.0,...,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,74.555158
4,Stage 2,3 - 5 hrs,4,Career or job relevance,I usually remember them mentally,Often,Starting tasks too late,Always,3.0,3.0,...,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,75.718817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3803,Stage 1,5 - 10 hrs,1,Personal interest in the subject,To-do list or planner apps,Sometimes,Not knowing how to prioritize task,Sometimes,4.0,5.0,...,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,72.519223
3804,Stage 1,Less than 3hrs,4,Career or job relevance,I usually remember them mentally,Often,Balancing multiple courses or projects,Always,3.0,4.0,...,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,75.404548
3805,Stage 2,3 - 5 hrs,3,Career or job relevance,Notes on phone or paper,Always,Balancing multiple courses or projects,Always,3.0,2.0,...,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,74.239241
3806,Stage 1,3 - 5 hrs,4,Career or job relevance,I usually remember them mentally,Always,Starting tasks too late,Always,3.0,3.0,...,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,NOT_TAKEN,76.220304
3807,Stage 4,5 - 10 hrs,3,Personal interest in the subject,To-do list or planner apps,Rar,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
grade_to_points = {
    'A+': 4.0,
    'A' : 4.0,
    'A-': 3.7,
    'B+': 3.3,
    'B' : 3.0,
    'B-': 2.7,
    'C+': 2.3,
    'C' : 2.0,
    'C-': 1.7,
    'D+': 1.3,
    'D' : 1.0,
    'E' : 0.0
}

# Task
Identify all columns in the `data` DataFrame that start with 'Grade_'. Then, iterate through these columns and map the letter grades to numerical point values using the `grade_to_points` dictionary, assigning `NaN` for 'NOT_TAKEN' grades. Finally, display a sample of the updated `data` DataFrame to show the new grade point columns.

## Identify Grade Columns

### Subtask:
Identify all columns in the `data` DataFrame that start with 'Grade_'. These are the columns for which we need to convert grades to points.

**Reasoning**:
To identify all columns that start with 'Grade_', I will iterate through the column names of the `data` DataFrame and filter them using a string method. These columns will be stored in a list.

In [ ]:
grade_columns = [col for col in data.columns if col.startswith('Grade_')]
print(f"Identified grade columns: {grade_columns}")

Identified grade columns: ['Grade_CM1601', 'Grade_CM1602', 'Grade_CM1603', 'Grade_CM1604', 'Grade_CM1605', 'Grade_CM1606', 'Grade_CM1607', 'Grade_CM2601', 'Grade_CM2602', 'Grade_CM2603', 'Grade_CM2604', 'Grade_CM2605', 'Grade_CM2606', 'Grade_CM2607', 'Grade_CM3606', 'Grade_CM3604', 'Grade_CM3602', 'Grade_CM3603', 'Grade_CM4605', 'Grade_CM4604', 'Grade_CM4601', 'Grade_CM4606', 'Grade_CM4603']

## Convert Grades to Numerical Points

### Subtask:
Iterate through the identified 'Grade_' columns and convert the letter grades to numerical point values using the `grade_to_points` dictionary. Assign `NaN` for 'NOT_TAKEN' grades.

#### Instructions
1. For each column in `grade_columns`, apply a mapping function.
2. The mapping function should use the `grade_to_points` dictionary to convert letter grades to numerical values.
3. If a grade is 'NOT_TAKEN', convert it to `np.nan`.

**Reasoning**:
To convert the letter grades in the identified columns to numerical point values, I will iterate through each grade column and apply a mapping function that uses the `grade_to_points` dictionary. Grades marked 'NOT_TAKEN' will be converted to `np.nan`.

In [ ]:
for col in grade_columns:
    data[col] = data[col].replace('NOT_TAKEN', np.nan).map(grade_to_points)
print("Grades successfully converted to numerical points.")

Grades successfully converted to numerical points.

In [ ]:
print("Sample of the updated DataFrame with converted grade points:")
data[grade_columns].head()

Sample of the updated DataFrame with converted grade points:

,Grade_CM1601,Grade_CM1602,Grade_CM1603,Grade_CM1604,Grade_CM1605,Grade_CM1606,Grade_CM1607,Grade_CM2601,Grade_CM2602,Grade_CM2603,...,Grade_CM2607,Grade_CM3606,Grade_CM3604,Grade_CM3602,Grade_CM3603,Grade_CM4605,Grade_CM4604,Grade_CM4601,Grade_CM4606,Grade_CM4603
0,2.0,2.0,1.0,1.0,1.0,3.0,2.0,1.0,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3.0,4.0,3.0,2.0,3.0,3.0,2.0,2.0,4.0,...,2.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,4.0,4.0,4.0,4.0,3.0,4.0,2.0,2.0,2.0,...,4.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,3.0,2.0,2.0,2.0,3.0,1.0,1.0,2.0,4.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,2.0,1.0,2.0,2.0,3.0,2.0,1.0,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.to_csv('processed_data.csv', index=False)